<div class="container">
<div class="row">
<div class="col-md-8">
<div class="embed-responsive embed-responsive-16by9">
	<!-- <video
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{}'>
  <source src="rtmp://a.rtmp.youtube.com/live2" type="video/mp4"></source>

  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video> -->
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/live_stream?channel=UCk_zI-_WWMrPu6fwvQuCA5w
" frameborder="0" allowfullscreen	modestbranding controls="0"
 ></iframe>
</div>
<div class="wb_title">Title of Webinar</div>
</div>

<!-- comments pane -->
<div class="col-md-4">
<h4>comments</h4>
<section class="well comments_container">

	
</section>
</div>

</div>
</div>
